html.station body #body{
  &.dashboard {
    padding-top: 0 !important;

    .title-header {
      background-color: $darkgrey;
      padding-left: 0;
      padding-right: 0;

      h2 {
        color: #fff;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        padding: 20px 0;
      }
    }

    .station-view {
      display: block;
      padding: 15px 0;
      clear: both;
      background-color: $lightgrey;

      &:nth-child(odd) {
        background-color: #fff;
      }

      h4 {
        color: $darkgrey;
        color: 18px;
        font-weight: 400;
      }

      .edit-link {
        color: $orange;
        font-size: 14px;
      }
    }

    /* Assets area */
    .asset-download {
      background-color: $lightgrey;
      padding: 25px 0;

      h3.heading {
        color: $grey-text;
        font-size: 22px;
        font-weight: 300;
        margin:0;
      }

      p.sub-heading {
        color: $grey-text;
        font-size: 12px;
        margin-bottom: 0;
      }

      p.small-text {
        color: $grey-text;
        font-size: 12px;
        margin-bottom: 0;
      }

      .btn.st-btn {
        background-color: #e0e0e0;
        color: #2f2f2f;
        text-transform: none;
        border: none;
        line-height: 2;
        display: block;
        width: 70%;
        margin: 0 auto;
        font-weight: 500;
        font-size: 14px;
        border-radius: 5px;
        padding: 10px 0;
        height: 100%;

        &.st-orange {
          background-color: $orange;
          color: #fff;
          font-size: 18px;
          font-weight: 300;
          width: 90%;
        }
      }
    }

    .logo-color {
      padding: 25px 0;

      h3.heading {
        color: $grey-text;
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 25px;
      }

      p.upload-info {
        color: $dark-text;
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
      }

      p.upload-sub-info {
        color: $grey-text;
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
