html.station body {

  #body {
      background-color: #fff !important;
  }

  #sidebar {
    background-color: $darkgrey !important;

    #avatar {
      background-color: $darkgrey !important;
    }
  }
}
